.ds_store
.venv
.env
uv.lock

*.tfstate
*.tfstate.backup
*.ini
infra/terraform/.terraform.lock.hcl
infra/terraform/.terraform/
infra/node1/.terraform/
infra/node1/.terraform.lock.hcl
infra/node2/.terraform/
infra/node2/.terraform.lock.hcl
infra/terraform/modules/orbstack_vm/.terraform.lock.hcl
infra/terraform/modules/orbstack_vm/.terraform/providers/registry.terraform.io/robertdebock/orbstack/3.1.2/darwin_arm64/
infra/helm/
infra/ansible/
bootstrap_linux.sh
infra/cloud/
docs/runbooks/
docs/adr/
docs/
clusters/
automation/ansible/
src/helixscale/
tests/
.pre-commit-config.yaml
.python-version
ARCHITECTURE.md
CHANGELOG.md
Claude.md
pyproject.toml
README.md
infra/node2/terraform.tfvars
infra/node1/terraform.tfvars
.zed/
infra/terraform/modules/eks_cluster/
